body{
    height: 97vh;
    background: radial-gradient(#ebf6c6,#c1e176);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth{
    width: 500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
    border-radius: 15px;
}

.log{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    padding-left: 10px;
}

.pass{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    padding-left: 10px;
}

.btn{
    width: 140px;
    padding: 13px 0;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background: #96de85;
}
.btn:hover{
    background: #6dbe5a;
    cursor: pointer;
    transition: 0.7s;
}